.flexbox-container{
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.flexbox-item{
    width: 100%;
    background-color: white
}

.flexbox-item-1{
    max-width: 164px;
    background-color: red;
}

.navbar_top{
    height: 80px;
    background-color:rgb(36, 100, 77);
    position: fixed;
    top: 0;
    width: 90%;
}


.content{
    padding-top: 90px;
    padding-left: 10px;
}

.LogoPlacement{
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-container {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.post-container {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);



}
@media (max-width: 1200px){
    .post-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }
}


