.button-1 {
  align-items: center;
  justify-content: center;
  height: 20vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: transparent;
  background-color: rgb(100, 176, 145);
  cursor: pointer;
}

.button-1:hover {
  background-color: rgb(36, 100, 77);
}

.button__icon-1 {
  font-size: 75px;
  color: white;
}

.button__icon-2 {
  font-size: 50px;
  color: white;
}

.button__text-1 {
  font-size: 14px;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 164px;
  height: 100%;
  background-color: rgb(100, 176, 145);
  position: fixed;
}
