.flexbox-container{
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.item{
    width: 100%;
    background-color: white
}

.one{
    max-width: 164px;
    background-color: red;

}

.navbar_top{
    height: 80px;
    background-color:rgb(36, 100, 77);
    position: fixed;
    top: 0;
    width: 100%;
}

.content{
    padding-top: 90px;
    padding-left: 10px;
}

.LogoPlacement{
    display: flex;
    align-items: center;
    justify-content: center;
}

