.button-1{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: transparent;
    width: 164px;
    background-color: rgb(100, 176, 145);
    cursor: pointer;
}

button:hover{
    background-color:rgb(36, 100, 77);
}

.button__icon-1{
    font-size: 75px;
    color: white;
}

.button__icon-2{
    font-size: 50px;
    color: white;
}

.button__text-1{
    font-size: 14px;
    color: white;
}
