.button-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: transparent;
    width: 164px;
    height: 110px;
    background-color: rgb(100, 176, 145);
    cursor: pointer;
}

button:hover{
    background-color:rgb(93, 145, 124);
}

.button__icon-1{
    font-size: 75px;
    color: white;
}

.button__text-1{
    color: white;
    font-size: 14px;
}
.button__icon-2{
    font-size: 50px;
    color: white;
}